---
import Layout from '../layouts/Layout.astro';
import SolidTes from '@/components/solid/Tes';
import ReactTes from '@/components/react/Tes';
---

<Layout title="Welcome to Astro.">
	<main>
    <SolidTes />
    <ReactTes />
  </main>
</Layout>
