---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, ullam
    temporibus eligendi facilis unde aut corrupti doloribus dolore impedit omnis
    quos beatae cum suscipit hic cupiditate deleniti odio eaque labore neque
    cumque maxime voluptatem? Nemo consectetur voluptate, dolores sequi tenetur
    harum. Repellendus optio atque obcaecati autem vero possimus alias ipsam.
  </h1>
</Layout>
